<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
            <div class="weather_all">
              <h2 class="weather">{{>header}} </h2>
              <hr>
             <h2 class="weather title" style="color:rgb(201, 177, 177) ; font-weight:bold;font-size:35px"> {{title}} </h2>
             <hr>
             {{!-- <h2 class="weather activate">  {{active}} </h2>
             <hr> --}}
             <h2 class="weather place" style="color:rgb(182, 181, 181) "> Country : {{data.country}} </h2>
             <hr>
             <h2 class="weather long"  style="color:rgb(182, 181, 181) "> Longtitude: {{data.longitude}} </h2> 
             <hr>
             <h2 class="weather latit"  style="color:rgb(182, 181, 181) "> Latitude: {{data.latitude}} </h2>
             <hr>
             <h2 class="weather weath"  style="color:rgb(182, 181, 181) "> Weather: {{data.weather}} </h2> 
             <hr>
            <h2 class="weather temp"  style="color:rgb(182, 181, 181) "> Temperature: {{data.temperature}} </h2> 
            </div>
      </body>
</html>